* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

:root {
  --gunmetal: #283044;
  --electric-blue: #054A91;
  --steel-blue: #3E7CB1;
  --coquelicot: #E53D00;
  --ghost-white: #FAFAFF;
}

body {
  margin: 0;
}

section {
  height: 800px;
  width: 100%;
}

/* navigation */

.fixed-nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--gunmetal);
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  z-index: 999;
  text-transform: uppercase;
  font-size: 1em;
  color: var(--ghost-white);
  padding-bottom: 1%;
}

.fixed-nav-bar > a {
  text-decoration: none;
  font-weight: normal;
  color: var(--ghost-white);
}

#md-logo {
  max-height: 50px;
  TODO: align center;
}

/* cta */

#first-section {
  background-image: url("paper-background.jpg");
  opacity: 0.95;
  background-size: cover;
}

#cta-content {
  padding: 15%;
  width: 40%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#cta-title {
  color: var(--coquelicot);
  font-size: 3em;
  text-align: center;
  margin: 0;
}

#cta-subtitle {
  color: var(--steel-blue);
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
}

#cta-text {
  color: var(--ghost-white);
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
}

#cta-button {
  background-color: var(--electric-blue);
  border: none;
  color: var(--ghost-white);
  padding: 10px 25px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 4px;
}

/* general section */

.section-title {
  color: var(--coquelicot);
  font-size: 3em;
  margin: 0;
}

.section-subtitle {
  color: var(--steel-blue);
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
}

/* about us */

#about-us {
  background-color: var(--gunmetal);
  display: flex;
  flex-direction: column;
}

#about-us-top {
  height: 15%;
  padding: 5% 5% 0 5%;
}

#about-us-bottom {
  height: 70%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}

.description-box {
  background-color: var(--electric-blue);
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  margin: 0.5%;
  height: 50%;
}

.description-title {
  display: flex;
  height: 25%;
  align-items: center;
}

.description-number {
  color: var(--coquelicot);
  font-weight: bold;
  font-size: 2em;
  display: inline;
  margin-left: 3%;
}

.description-subtitle {
  color: var(--ghost-white);
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  display: inline;
  margin-left: 3%;
}

.text-box {
  height: 75%;
  margin: 3%;
  display: flex;
  align-items: flex-start;
}

h5 {
  color: var(--ghost-white);
  font-size: 1.2em;
  font-weight: bold;
}

#learn-more-button {
  background-color: var(--steel-blue);
  border: none;
  color: var(--ghost-white);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6em;
  border-radius: 4px;
  width: 80px;
  padding: 6px;
  margin: 10px;
}

/* team */

#team {
  background-color: var(--ghost-white);
  display: flex;
  flex-direction: column;
}

#team-top {
  height: 15%;
  padding: 5% 5% 0 5%;
}

#team-bottom {
  height: 70%;
  width: 80%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-photo {
  align-self: left;
  max-height: 450px;
  max-width: 600px;
}

#team-photo-section {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

figcaption {
  font-size: 0.8em;
}

#team-list > li {
  font-size: 2em;
  font-weight: bold;
  color: var(--electric-blue);
}

li {
  font-size: 1.5em;
  padding: 5px;
  color: var(--gunmetal);
}
